<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1  bg-gradient-warning">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-md">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22382.311572336326!2d79.83032900668604!3d7.390706223667333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2c316340e75bb%3A0x3e6b41279f098d95!2sSun+Gold+Solar+(Pvt)Ltd!5e0!3m2!1sen!2slk!4v1537458675126" width="1050" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br>
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3 text-white">Contact Details</h2>
            <p class="lead text-white"><b><u>Address</u>:-</b><br>Singhagiri Mw<br>Mudukatuwa<br>Marawila</p>
            <p class="lead text-white"><b><u>Tel</u>:-</b><a href="tel:94704344100">(+94)70 432 4100</a></p>
            <p class="lead text-white"><b><u>Email</u>:-</b><a href="mailto:info@sungoldsolarpvt.com?Subject=Inquiries" target="_top">info@sungoldsolarpvt.com</a></p>
          </div>
        </div>

      </div>
    </section>

  </div>
</main>