<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1  bg-gradient-warning">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-md">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-10">
            <h2 id="p&s" class="display-3 text-white">Products and services</h2>
            <p class="lead text-white"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <img class="img-gal" src="assets/img/edited_assets/solar-inverter.jpg">
          </div>
          <div class="col-sm-3">
            <img class="img-gal" src="assets/img/edited_assets/q-cell-solar-panels.jpg">
          </div>
          <div class="col-sm-3">
            <img class="img-gal" src="assets/img/edited_assets/C0TATaYXgAIr1Pp.jpg">
          </div>
          <div class="col-sm-3">
            <img class="img-gal" src="assets/img/edited_assets/meba-surge-arrester-MBD1A.png">
          </div>
        </div>
      </div>
    </section>
    <br>

    <br>
    <section>
      <h1 id="prod&service">Products</h1>
      <div class="container py-md">
        <div class="row justify-content-between align-items-center">


          <div class="row">

            <div class="col-sm-4">

              <img  src="assets/img/edited_assets/8649_6821_1948.jpg" alt="Card image cap" width="80%" height="60%"  >
              <div class="card-body">
               
                <h5 class="card-title">Q Cells Solar Panels</h5>


              </div>

            </div>
            <div class="col-sm-4">

              <img class="card-img-top" src="assets/img/edited_assets/solar-inverter.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Solex Solar Inverter</h5>
                <p class="card-text"></p>

              </div>

            </div>
            <div class="col-sm-4">

              <img class="card-img-top" src="assets/img/edited_assets/dass_30i_ce_view.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Dass Tech Inveters</h5>


              </div>

            </div>
            <div class="col-sm-4">

              <img class="card-img-top" src="assets/img/edited_assets/182915-10646860.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Sun Grow Inverter</h5>


              </div>

            </div>

          </div>
        </div>
      </div>

    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">Lets Step To A Generation Of Solar Power
              <span class="text-success">Go Green Forever</span>
            </h2>
            <p class="lead">Sun Gold Solar has already rooted in domestic market, in the same time, Sun Gold Solar is actively exploring the international market, and will provide you with high quality and branded products and services</p>
            
            <div class="text-center">
              <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
              <div class="row justify-content-center">
                <div class="col-lg-2 col-4">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Hanwa Q cell">
                    <img src="assets/img/edited_assets/HanWha.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Solex Power">
                    <img src="assets/img/edited_assets/Solax-logo.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Dass Tech">
                    <img src="assets/img/edited_assets/dass-dtec.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Phoenix">
                    <img src="assets/img/edited_assets/phoenix-contact-1-logo-png-transparent.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="ACL cables">
                    <img src="assets/img/edited_assets/og.png" class="img-fluid">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Kelani Cables">
                    <img src="assets/img/edited_assets/Logos-18.png" class="img-fluid">
                  </a>
                </div>

              </div>
              <div class="row justify-content-center">
                <div class="col-lg-2 col-4">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Meba">
                    <img src="assets/img/edited_assets/meba.jpg" class="img-fluid">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                    <a href="" target="_blank" data-toggle="tooltip" data-original-title="Alumex">
                      <img src="assets/img/edited_assets/alumex.png" class="img-fluid">
                    </a>
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    
      <!-- shape Hero -->
     
      <section class="section section-lg section-shaped pb-250">
        <h1 id="services">Services</h1>
        <div class="container py-md">
          <div class="row justify-content-between align-items-center">


            <div class="row">

              <div class="col-sm-3">

                <img class="card-img-top" src="assets/img/edited_assets/cleaning.jpg" alt="Card image cap">
                <div class="card-body">
                 
                  <h5 class="card-title">Panel Cleaning</h5>


                </div>

              </div>
              <div class="col-sm-3">

                <img class="card-img-top" src="assets/img/edited_assets/inspector.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">System Inspection</h5>
                  <p class="card-text"></p>

                </div>

              </div>
              <div class="col-sm-3">


                  <img class="card-img-top" src="assets/img/edited_assets/Insurance-PNG.png" alt="Card image cap">
                  <div class="card-body">
                   
                    <h5 class="card-title">Insurance</h5>
  
  
                  </div>
  
                </div>
                <div class="col-sm-3">

                    <img class="card-img-top" src="assets/img/edited_assets/Warranty.jpg" alt="Card image cap">
                    <div class="card-body">
                     
                      <h5 class="card-title">Warranty</h5>
    
    
                    </div>
    
                  </div>
            </div>
          </div>
        </div>
        <div class="container">
        <div class="mb-3">
            
          </div>
          <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Net Metering</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Net Accounting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Net Plus</a>
              </li>
            </ul>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                    <p class="description">The customer generates electricity using solar panels fixed on their houses/premises and connected to the grid through net metering system.
                      </p>
                    <p class="description">You will be able to pay electricity bill by reducing your consumed government electricity from your generated electricity.
                      </p>
                    <p class="description">
                        If there are excess units It can be brought forward to future.
                        </p>
                    <p class="description">In this system money will not be given to the customers.
                      </p>
                    <p class="description">The customer will be given the choice of using the balance electricity within 10 years.
                      </p>
                </div>
                <div class="tab-pane fade" id="tabs-text-2" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                    <p class="description">If the generated electricity using the solar panels fixed on their houses/premises are greater than the amount consumed, the customer will be paid Rs.22.00 per unit during the first 7 years and from the 8th year he will be paid Rs.15.50 per unit.
                      </p>
                    <p class="description">If the consumption is greater than he generated, the consumer has to pay that existing electricity tariff for the excess electricity consumed.
                      </p>                </div>
                <div class="tab-pane fade" id="tabs-text-3" role="tabpanel" aria-labelledby="tabs-text-3-tab">
                    <p class="description">Getting paid for the amount of electricity  generated using the solar panels fixed on their houses/premises.</p>
                    <p class="description">Unlike net metering method there is no linkage in- between the electricity consumption of the customer and their electricity generation.</p>
                    <p class="description">The customer has to pay for the electricity consumed according to the existing tariff.</p>
                    <p class="description">Electricity board will pay for the total amount of electricity he generates.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
  </div>
</main>