/* You can add global styles to this file, and also import other style files */
// @import './assets/css/argon.css';
.headroom--not-top
{
    padding-top: .5rem;
    padding-bottom: .5rem;

    background-color: #ee7f00 !important;
    box-shadow: 0 1px 10px rgba(130, 130, 134, .1);
}